body {
    background-color:purple;
}
#principal {
    width: 700px;
    margin: auto;
    margin-top: 50px;
}

#wall {
    background-color: black;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#fundo {
    background-color:rgb(75, 213, 255);
    width: 30px;
    height: 30px;
    display: inline-block;
}

#start {
    background-color: green;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#finish {
    background-color:red;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#player {
    background-color:silver;
    width: 30px;
    height: 30px;
    display: flex;
}
